/* DESEMPENHO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #000000;
  font-family: "DM Sans", sans-serif;
}

.playlist-container::-webkit-scrollbar-track {
  background-color: #121212; /* Cor da trilha */
  margin: 0.938rem auto;
}

.playlist-container::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

.playlist-container::-webkit-scrollbar {
  width: 5px;
  min-height: 1px;
}

::-webkit-scrollbar {
  width: 0px;
}

/* HEADER */
header {
  width: calc(100vw - 18.75rem);
  margin-left: 295px;
  overflow-x: hidden;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121212;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.625rem;
}

.header-arrows {
  display: flex;
  gap: 1.875rem;
}

.header-search {
  display: flex;
  align-items: center;
  gap: 0.938rem;
  width: 22.75rem;
  background-color: #242424;
  height: 3rem;
  border-radius: 25px;
}

.header-search input {
  background-color: transparent;
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  white-space: nowrap;
  font-size: 0.938rem;
  font-weight: 500;
  color: #ffffff;
}

.header-search img {
  width: 1.25rem;
  margin-left: 0.938rem;
}

.header-btn {
  display: flex;
  gap: 1.875rem;
}

.subscribe {
  background-color: transparent;
  border: none;
}

.subscribe a {
  transition: 0.8s;
  font-size: 1.063rem;
  font-weight: 700;
  color: #b3b3b3;
}

.subscribe a:hover {
  color: #ffffff;
  transition: 0.8s;
}

.login {
  padding: 0.938rem 1.875rem;
  border: none;
  border-radius: 25px;
}

.login a {
  color: #000000;
  font-size: 0.875rem;
  font-weight: 700;
}

/* FIM DO HEADER */

/* SIDEBAR */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18.75rem;
  padding: 0.625rem 0.625rem;
  height: calc(100vh - 12.813rem);
  /* border: 1px solid blue; */
}

.sidebar-navigation {
  background-color: #121212;
  padding: 1rem 0 0 1.25rem;
  border-radius: 8px;
}

.sidebar-navigation img {
  width: 5rem;
}

.sidebar-navigation ul {
  display: flex;
  flex-direction: column;
  margin-left: 2px ;
}

.sidebar-navigation li a {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 0.625rem;
  color: #b3b3b3;
  font-size: 1.063rem;
  font-weight: 600;
  padding: 0.75rem 0;
}

.sidebar-navigation li a:hover {
  color: #ffffff;
  transition: 0.8s;
}

.library {
  background-color: #121212;
  margin-top: 0.938rem;
  border-radius: 8px;
  height: calc(100vh - 14.625rem)
}

.library-content {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1.25rem;
}

.library-content button {
  background-color: transparent;
  border: none;
}

.library-content button a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: #b3b3b3;
  font-weight: 700;
  font-size: 1.063rem;
}

.library-content button a:hover {
  color: #ffffff;
  transition: 0.8s;
}

.plus a {
  display: flex;
  align-items: center;
  font-size: 1.625rem;
  font-weight: 900;
  color: #b3b3b3;
}

.plus a:hover {
  color: #ffffff;
  transition: 0.8s;
}

.playlist-container {
  height: 11.875rem;
  overflow-y: scroll;
}

.criar-playlist {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0.938rem;
  padding: 0.938rem;
  border-radius: 0.5rem;
  background-color: #242424;
}

.criar-playlist-textos {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  color: #ffffff;
}

.criar-playlist-textos h1 {
  font-size: 1.063rem;
  font-weight: 700;
}

.criar-playlist-textos p {
  font-size: 0.938rem;
}

.criar-playlist-botao {
  background-color: #ffffff;
  border-radius: 25px;
  border: none;
  width: 8.125rem;
  padding: 0.625rem 0.625rem;
  margin-top: 0.938rem;
}

.criar-playlist-botao a {
  color: #000000;
  font-size: 1.063rem;
  font-weight: 700;
}

#explorar {
  font-size: 0.813rem;
  font-weight: 600;
}

.cookies {
  padding: 1.25rem 1.25rem 0.938rem;
  max-height: 12.5rem;
  overflow-y: auto;
}

.cookies ul {
  display: flex;
  flex-wrap: wrap;
}

.cookies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 0.688rem;
    text-decoration: none;
    padding: 0rem 0.313rem;
    white-space: nowrap
}

.language-button {
  background-color: transparent;
  border: 1px solid #b3b3b3;
  border-radius: 25px;
  padding: 0.625rem 0.938rem;
  margin-left: 0.75rem;
}

.language-button a {
  display: flex;
  align-items: center;
  gap: 0.438rem;
  color: #ffffff;
  font-size: 0.813rem;
  font-weight: 700;
}

/* FIM SIDEBAR */

/* MAIN */
main {
  height: calc(100vh - 11.375rem);
  width: calc(100vw - 20rem);
  background-color: #121212;
  margin-left: 19rem;
  border-radius: 8px;
  margin-top: 0.313rem;
  overflow-y: hidden;
}

.welcome-main {
  display: flex;
  flex-direction: column;
}

.welcome-main h1 {
  margin: 1.25rem 1.25rem 0;
  font-size: 1.75rem;
  font-weight: 600;
  color: #ffffff;
}

.welcome-main h2 {
  margin: 0 1.25rem 0.625rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
}

.cards-artists-container {
  overflow-y: scroll;
  height: calc(100vh - 18.125rem);
  width: 100%;
}

#cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.625rem 1.25rem;
  gap: 2.5rem;
}

#cards-container div {
  width: 13.750rem;
  height: 13.750rem;
  border-radius: 8px;
}

#cards-container div:hover {
  box-shadow: 5px 5px 0 #ffffff;
  transition: 0.3s;
}

#cards-container .card0 {
  background-image: url(../assets/playlist/1.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card1 {
  background-image: url(../assets/playlist/2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card2 {
  background-image: url(../assets/playlist/3.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card3 {
  background-image: url(../assets/playlist/4.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card4 {
  background-image: url(../assets/playlist/5.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card5 {
  background-image: url(../assets/playlist/6.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card6 {
  background-image: url(../assets/playlist/7.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card7 {
  background-image: url(../assets/playlist/8.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card8 {
  background-image: url(../assets/playlist/9.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card9 {
  background-image: url(../assets/playlist/10.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card10 {
  background-image: url(../assets/playlist/11.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card11 {
  background-image: url(../assets/playlist/12.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card12 {
  background-image: url(../assets/playlist/13.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card13 {
  background-image: url(../assets/playlist/14.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#cards-container .card14 {
  background-image: url(../assets/playlist/15.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 100px;
}

.hidden {
  display: none;
}

.grid-container {
  width: 12.5rem;
}

.artist-card {
  background: #181818;
  border-radius: 8px;
  -ms-flex: 1;
  flex: 1;
  isolation: isolate;
  padding: 1rem;
  position: relative;
  transition: background-color 0.3s ease;
  width: 100%;
}

.artist-card:hover {
  background-color: #252525;
}

.card-img {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.artist-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 50%;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 3.875rem;
}

.card-text a {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.artist-name {
  box-sizing: border-box;
  margin-block: 0px;
  font-size: 1rem;
  font-weight: 700;
  padding-block-end: 0.5rem;
}

.artist-categorie {
  color: #6a6a6a;
  font-weight: 400;
  font-size: 0.875rem;
}

.play {
  position: relative;
}

.play .playicon {
  position: absolute;
  right: 0.625rem;
  top: 1.875rem;
  padding: 0.938rem;
  background-color: #1db954;
  border-radius: 100%;
  font-size: 0.938rem;
  opacity: 0;
  transition: all ease 0.4s;
}

.artist-card:hover .play .playicon {
  opacity: 1;
  transform: translateY(-90px);
}

.play .playicon:hover {
  padding: 1.063rem;
  cursor: pointer;
}

#result-artist {
  padding: 0.625rem 1.25rem;
}
/* FIM DA MAIN */

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4.375rem;
  padding: 0.625rem 2.5rem;
  background: linear-gradient(to right, #0004ff, #9900ff, #ff00d4);
}

.texts-footer {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

footer h1 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}

footer p {
  font-size: 1.063rem;
  font-weight: 500;
}

footer button {
  padding: 0.875rem 1.875rem;
  border-radius: 2.5rem;
  border: none;
}

footer button a {
  color: #000000;
  font-weight: 600;
  font-size: 1.063rem;
}

/* FIM FOOTER */

/* AJUSTES */
.sidebar-navigation li a ion-icon,
.library-content button a ion-icon,
.language-button a ion-icon {
  font-size: 1.25rem;
}

.login:hover,
footer button:hover,
.criar-playlist-botao:hover,
.language-button:hover {
  box-shadow: 0 0 10px #ffffff;
  transition: 0.5s;
  cursor: pointer;
}
